@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
}

a {
  @apply text-gray-900 hover:text-gray-700;
}

.container-narrow {
  @apply max-w-2xl mx-auto px-4;
}
